:root{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
body{
    background-size: 100%;
    background-image: url(./images/main-background-pic.jpeg);
}
.main-font-color{
    color: white;
}
.click{
    border-bottom: 0.1rem solid white;
}
#content{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.7);
    display: grid;
    grid-template-rows: auto 2fr;
}
.header-container{
    background-color: rgba(0,0,0,0.5);
}
.header-text{
    color: white;
    width: fit-content;
    margin: auto;
    font-size: 4rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    padding: 1.5rem;
}
.nav-container{
    display: flex;
    position:relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    padding: 1rem;

}
.nav-item{
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem;
    transition: transform 0.15s;
}
.nav-item:hover{
    transform: translateY(-10px);
    transition: transform 0.15s;
}
#main-container{
    box-sizing: border-box;
    height: 100%;
    padding: 10rem 15rem;
}
.main-grid-container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 1.25rem 0.25rem 1.5rem rgba(0, 0, 0, 0.73);
}
.content-container{
    min-height: 100%;
}
#home-card-pic-container{
    border-radius: 1rem 0 0 1rem;
    background-image: 
        linear-gradient(45deg, rgba(97, 97, 97, 0.52), rgba(0, 0, 0, 0.33)),url(./images/card-img.jpeg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 35% 55%;
}
#home-card-content-container{
    border-radius: 0 1rem 1rem 0;
    background-color: rgba(0, 0, 0, 0.73);
    padding: 1.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
#main-card-header-text{
    font-size: 3.5rem;
    font-weight: 700;
}
#main-card-paragraph{
    font-size: 1.45rem;
    font-weight: 500;
    line-height: 1.75rem;
}
#main-card-button{
    width: 12rem;
    font-size: 1.7rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-top: auto;
    margin-right: auto;
    background-color: rgb(153, 29, 29);
    border: 0px;
    border-radius: 0.25rem;
    padding: 1rem;
    color: white;
}